<h1 id="tableLabel">Image Worker</h1>

<h2>Тестовое задание по обработке файлов: сохранение/выгрузка/удаление в(из) БД. <br/>
  (Angular/.NET 8)</h2>
<hr class="line">
<table>
  <tr>
    <td></td>
    <td>
      <div class="block" style="text-align:center">
        <file-list></file-list>
      </div>
    </td>
    <td></td>
  </tr>
</table>
<table>
  <tr>
    <td></td>
    <td>
      <div class="block" style="text-align:center">
        <file-upload (update)="update()"></file-upload>
      </div>
    </td>
    <td></td>
  </tr>
</table>
<!--<table>
  <tr>
    <td></td>
    <td>
      <div class="block" style="text-align:center">
        <log-output></log-output>
      </div>
    </td>
    <td></td>
  </tr>
</table>-->
